<h2><%= @user.name %>'s profile</h2>

<p>
  <b>Name: </b>
  <%= @user.name %>
</p>

<p>
  <b>Email: </b>
  <%= @user.email %>
</p>

<p>
  <% @user.addresses.each do |address| %>
	  <b>Address: </b></br>
	  <%= render address %>
	  </br>
  <% end %>
</p>

<p>
  <h3>Orders</h3>
</p>

