body {
	background-color: #550000;
}

/* Navigation */

nav {
	text-align: center;
	padding: 0 0.7em;
}

nav ul {
	margin: 0;
	padding-bottom: 15px;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 25px;
	font-weight: 100;
	font-size: 110%;
	font-family: Helvetica;
	color: #000000;
}

nav ul li a:visited {

}

/* Links */

a {
	text-decoration: none;
}

a:hover {
	color: #D4A017;
	text-decoration: underline;
}

a:visited {

}

/* Header and footer */

header {
	border: 3px groove #888888;
	background-color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}

header img {
	width: 65%;
	margin-left: 173px;
}

header nav {

}

footer {
	text-align: center;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

footer nav {
	background-color: #550000;
	margin-left: 0px;
	float: none;
}

footer nav ul li a {
	font-size: 100%;
	color: white;
}

#nav {
	list-style: none;
	margin-bottom: 10px;
	font-weight: 100;
	font-size: 120%;
	font-family: Helvetica;
	color: #eeeeee;
	width: 100%;
}

#nav li {
	text-align: center;
	position: relative;
	margin-right: 35px;
}

#nav a {
	display: block;
	padding: 10px;
	color: #eeeeee;
	text-decoration: none;
}

#nav a:hover {
	text-decoration: underline overline;
	color: #D4A017;
}

/*--- DROPDOWN ---*/
#nav ul {
	background: black; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	list-style: none;
	position: absolute;
	left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}

#nav ul li {
	text-align: left;
	display: block;
	padding-top: 1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float: none;
}
#nav ul a {
	white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul {/* Display the dropdown on hover */
	left: 0; /* Bring back on-screen when needed */
}
#nav li:hover a {/* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	color: #D4A017;
}
#nav li:hover ul a {/* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration: none;
	color: #eeeeee;
}
#nav li:hover ul li a:hover {/* Here we define the most explicit hover states--what happens when you hover each individual link. */
	color: #D4A017;
}

section, .product_display {
	font-size: 100%;
	background-color: black;
}

div .gems {
	background-color: black;
}

.entry {
	height: 230px;
	width: 230px;
	float: left;
	margin-bottom: 50px;
	text-align: center;
	color: #eeeeee;
}

.product_show_page {
	/*height: 500px;*/
}

/*
#product_image img {
	display: inline;
	margin: 2px;
	width: 140px;
	height: 140px;
	border: 2px groove #cccccc;
}
*/

#product_image img:hover {
	border: 4px groove #D4A017;
}

.desc {
	width: 100%;
}

.pagination {
	text-align: center;
}

.pagination a {
	color: #cccccc;
}

.pagination a:hover {
	color: #D4A017;
	text-decoration: none;
}

.pagination .disabled, .current {
	color: #996600;
}

.field, h1, h2, h3, p {
	color: #eeeeee;
	margin-left: 15px;
}

.attachment_block {
	margin-left: 20px;
	margin-right: 450px;
	border: 1px solid #eeeeee;
}

.attachment_block a {
	margin-left: 20px;
}

.attachment_block #upload_block {
	margin: 8px;
	border: 1px solid #eeeeee;
}

.primary_photo {
	background-color: #eeeeee;
}

.secondary_photos{
	height: 115px;
	width: 115px;
}

.secondary_photos img{
	height: 70px;
	width: 70px;
}

/*
 div.entry
 {
 margin:2px;
 border:1px solid black;
 height:auto;
 width:auto;
 text-align:center;
 }
 div.entry img
 {
 display:inline;
 height:60px;
 width:60px;
 margin:3px;
 border:1px solid #ffffff;
 }
 div.entry a:hover img
 {
 border:1px solid #0000ff;
 }
 div.desc
 {
 text-align:center;
 font-weight:normal;
 width:120px;
 margin:2px;
 }

 */